body{
  font-size: 25px;
  font-family: 'PT Serif', serif;
  -webkit-box-sizing: border-box;  /*webkit系*/
  -moz-box-sizing: border-box;  /*Firefox*/
  box-sizing: border-box;
}

h1,h2{
  font-size: 50px;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
.effect_fade{
  opacity: 0;
  transform: translate(0,45px);
  transition: all 2500ms;
}
.effect_fade.effect_scroll{
  opacity: 1;
  transform: translate(0,0);
}
/*==============================================
    HEADER
==============================================*/
header{
  height: 100px;
  width: 100%;
  background: #333333;
  position: sticky;
  top:0;
  z-index: 10;
h1 {
position: absolute;
top: 18px;
left: 24px;
width: 232px;
height: 64px;
margin: 0;
text-align: center;
color: #fff;
}
nav{
 width: 500px;
ul{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin: 0;
 position: absolute;
 top: 58px;
 right: 0;
 li{
   margin-right:18px;
  padding: 10px 0;
   &:hover{
     background-color: #fff;
     border-radius: 4px;
     transform: scale(1.3,1.3);
   }
   a{
    color: #fff;
    padding: 10px;
    &:hover{
      color: #333;
    }
   }
 }
}
}
}
/*==============================================
    SLIDESHOW
==============================================*/
#slideshow{
  height: 300px;
  background: rgba(0,0,0,0.5);
.slides{
  position: relative;
 
  img{
    display: none;
    height: 300px;
   width: 80%;
   margin: 0 10%;
  position: absolute;
  top: 100;
  left: 0;

}
}
}

/*==============================================
    SLIDESHOW
==============================================*/
#about{
  background-image: url('../img/buildings-2297210_1280.png');
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
 h2{
   margin-bottom: 0;
   margin-top: 10px;
 }
 .name{
   margin:0;
 }
 .intro{
   width: 70%;
 p{
   font-size: 15px;
   text-align: center;
   padding-bottom: 25px;
   line-height: 22px;
 }
}
}
/*=======================
     skill
======================*/
#skill{
margin: 30px auto;
height: auto;
  h2{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.skillboxes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  .skillbox{
    width: 25%;
    h3{
      text-align: center;
    }
   p{
     text-align: center;
     
     padding: 0 10px;
     word-wrap: break-word;

   }
  }
}
}
/*=============================
      WORKBOX
=============================*/
#works{
  background: #000000C4;
  height: auto;
  overflow: hidden;
  color: #ffffff;

  h2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .workboxes{
  display: grid;
  gap: 10px;
  text-align: center;
  grid-template-columns: repeat(auto-fit,minmax(450px,1fr)) ;


  .work_explain{
    p{
    font-size: 20px;
    }
    .tet_explain{
      padding-left: 10px;
    }
  }
}

.work{
  img{
    box-shadow:0 0 2px 2px #fff ;
  }
}
button{
  border: none;
  background: none;
  color: #ffffff;
  float: right;
  margin: 20px 50px 20px 0;
  
  padding: 10px;
  
}
}
/*=======================================================
contact
======================================================*/
#contact{
  text-align: center;
  h2{
    margin: 20px auto;
  }
  form{
    margin-top: 50px;
    .contact_parts{
      margin-bottom: 40px;
    }
    label{
      padding-right: 20px;
    }

   
    .button{
      width: 120px;
      margin: 30px auto;
    .submit_button{
      border-radius: 5px;
      padding: 8px 20px;
      font-size: 13px;
      text-align:center;
      cursor: pointer;
    
  }
  }
 
  .content{
    margin-bottom: 30px;
    vertical-align: top;
  }
  

    textarea{
      overflow-y: scroll;
      font-size: 15px;
      &:focus{
       box-shadow:0 0 7px #1abc9c;
       border:1px solid #1abc9c;
       outline-style: none;
      }
    }
  
  }
}

/**========================
      footer
===========================*/
footer{
  height: 150px;
  background: #333333;
  color: #ffffff;
  margin-top: 20px;
  position: relative;
 .sns_icon{
  margin: 15px 10px 0 15px;
  padding:15px 10px 0 15px ;
  .twitter{
    color: #03A9F4;
    padding-right: 10px;
  }
  .insta{
    color: #CF2E92;
  }
 }
  p{
    display:flex;
    justify-content: bottom;
    flex-direction: column;
    align-items: center;
  }
  .pagetop{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #03A9F4;
    border: 5px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
 
    a{
      color: #ffffff;
    }
  }
}
/*=========================================
       すまほ
~=========================================*/
@media screen and (max-width:896px){
  .header_transform{
    background-color: rgba(0,0,0,0.0);
    position: sticky;
    h1{
      display: none;
    }

  }
header{
  height: 50px;
  position: relative;
  h1{
    font-size: 30px;
    padding: 10px;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

  nav{
   
    ul{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 10px;
    li{
      margin: 0;
      &:hover{
        background-color: rgb(192, 233, 252);
      }
     a{
       display: inline-block;
       color: #333333;
     }
    }
  }
}
.nav_close{
  position: absolute;
  right: -169px;
  display:none;
}

}

.humberger{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  margin-right: 10px;
  box-sizing: border-box;
 
  span{
    content: "";
    display: block;
    border: 1px solid hsl(214, 88%, 54%);
    background-color: #03A9F4;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    transform:translateY(0px);
  }
  .top{
   margin-bottom: 5px;
    transform: rotate(0deg);
  }
  .bottom{
   margin-top: 5px;
    transform: rotate(0deg);
  
}
}

    .open{
    
      .middle{
        display: none;
      }
      .top{
        transform:rotate(-765deg);
        transition: all 2.0s;
        margin-top: 5px;
      }
      .bottom{
        transform: rotate(765deg);
        transition: all 1.5s;
        margin-top: -9px;
      }
    }
  

  #slideshow{
     .slides{
   
    img{
     
     width: 100%;
     margin: 0;
  }
  }
  }


#about{
  .myimg{
    
    text-align: center;
    img{
      width: 50%;
      height: 50%;
    }
  }
}
/*=================
   skill
====================*/
#skill{
  h2{
    font-size: 25px;
  }
  .skillboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    .skillbox{
      width: 70%;
      i{
        font-size: 80px;
      }
      h3{
        font-size: 20px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
/*===================
   WORK
===================*/
.workboxes{
  display:flex;
  justify-content: center;
}
.workbox{
  margin: 0 20px;
  
  .work{
    img{
      width: 80%;
    }
  }
  .work_explain{
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    p{
      width: 80%;
    }
  }
}
/*===================================
       contact
===================================*/



/*=====================
   footer
===================*/
footer{
  height: 100px;
  position: relative;
  p{
    font-size: 15px;
  }
  .pagetop{
    font-size: 20px;

  }
}
}